#home {
width: 100%;
height:100%;
min-height: 100vh;
display: flex;
overflow: hidden;
}

.lefthome{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.righthome {
  background: rgba(30,30,30,0.8);     /* Light black with some transparency */
  border-radius: 50%;                 /* Makes the background circular */
  width: 320px;                       /* Set your preferred size */
  height: 320px;                      /* Set your preferred size */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px rgba(66,180,205,0.4); /* Optional blue glow effect */
  margin: auto;
}

.righthome img {
  width: 80%;              /* Slightly smaller than the container */
  height: 80%;             /* Maintain circular shape */
  border-radius: 50%;
  object-fit: cover;
  filter: none;            /* Remove any color or hue filters */
}


.homedetails{
  font-size: 2vmax;

}
.line1{
  font-size: 1em;
}
.line2{
  font-size: 2.5em;
  background: linear-gradient(to right, rgb(66,180,205), white);
  background-clip: text;
  color: transparent;
}
.line3{
  font-size: 1em;
}

.homedetails button{
  padding:15px 30px;
  background-color: rgb(66,180,205);
  border:2px solid rgb(66,180,205);
  color: black;
  border-radius: 20px;
  margin-top: 30px;;
  font-size: 18px;
  transition:all 0.s;
  cursor: pointer;
  
}

.homedetails button:hover{
  background-color: transparent;
  color: white;
  border:2px solid rgb(66,180,205);
  cursor: pointer;
  transition: all 0.2s;;
}

@media (max-width: 750px) {
  
  #home{
    flex-direction: column-reverse;
  }

  .lefthome{
    width: 100%;
    height: 50vh;
  }
  .righthome{
    width: 100%;
    height: 50vh;
    align-items: end;
  }
  
}
